@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css";

.text-error{
    color: red;
}

.custom-checkbox button{
    border-radius: 0px;
}

.css-1jllj6i-control {
    display: none;
}